

<div>
    {{#each products}}
    <p>Title: {{this.title}}</p>
    <p>Description: {{this.description}}</p>
    <p>Price: {{this.price}}</p>
    <p>Stock: {{this.stock}}</p>
    <p>Category: {{this.category}}</p>
    <button onclick="addProductToCart('66fc6bd8f3121abebb4f23a0', '{{this._id}}')">Add to Cart</button>
    {{/each}}

    <br>

    <p>Index {{page}} of {{totalPages}}</p>

    {{#if hasPrevPage}}
    <a href="/views/products?page={{prevPage}}"><button>Prev</button></a>
    {{/if}}

    {{#if hasNextPage}}
    <a href="/views/products?page={{nextPage}}"><button>Next</button></a>
    {{/if}}

</div>

<script>
    async function addProductToCart(cartId, productId) {
        fetch(`/api/carts/${cartId}/products/${productId}`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            }
        })
    }
</script>

