<div>
    {{#each products}}
    <p>Title: {{this.title}}</p>
    <p>Description: {{this.description}}</p>
    <p>Price: {{this.price}}</p>
    <p>Stock: {{this.stock}}</p>
    <p>Category: {{this.category}}</p>
    <button>Add to Cart</button>
    {{/each}}

    <br>

    <p>Index {{page}} of {{totalPages}}</p>

    {{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}"><button>Prev</button></a>
    {{/if}}

    {{#if hasNextPage}}
    <a href="/products?page={{nextPage}}"><button>Next</button></a>
    {{/if}}


</div>